<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:orbisapp.page.link</string>
		<string>applinks:orbisapp.page.link?mode=developer</string>
		<string>applinks:orbissocial.test-app.link</string>
		<string>applinks:orbissocial-alternate.test-app.link</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.orbis.orbis.staging</string>
	</array>
	<key>com.apple.developer.user-fonts</key>
	<array>
		<string>app-usage</string>
		<string>system-installation</string>
	</array>
</dict>
</plist>
